@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Playfair Display', serif;
}

body{
    background-color: #583e06 ;
    color:#f1d681;
}

.section{
    width: 180px;
    height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-container{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 30px;
}

.bot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boton{
    width: 100px;
    height: 30px;
    margin: 10px 0px;
    padding: 8px 3px;
    border: 3px #583e06;
    border-radius: 5px;
}

.logo{
    height: 100%;
}

.nuevousuario{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grilla{
    background-color: #583e06;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
